/* Comment out the border lines when needed, they are for visual cues */

body {
   color: #000;
   background-color: #FFF;
}
#document
{
   width: 100%;
   height: 100%;
/*
   border: thin dashed #000;
*/
}
#center
{
   padding: 50px;
   height: 100%;
   color: #000;
   font-size: 12px;
   background-color: #FFF;
/*
   border: thin dashed #000;
*/
}
#header {
   width: 100%;
/*   min-height: 110px; */
   display: block;
   border: none;
/*
   border-width: thin;
*/
   text-align: center;
/*
   border: thin dashed #000;
*/
}
#colorbar {
   margin-left: 5px;
   margin-right: 5px;
/*
   border: thin dashed #000;
*/
}
#reference {
   display: block;
   margin: 0px 0px 0px 0px;
   margin-top: 15px;
   position: relative;
   border: none;
   text-align: center;
/*
   border-width: thin;
   border: thin dashed #000;
*/
}

#fortune {
   text-align: center;
/*
   border: thin dashed #000;
*/
}
#logo {
/*
   float: right;
   float: left;
*/
}
#slogan {
/*
   float: right;
   clear: right;
*/
}
#login {
   margin-right: 40px;
   float: right; 
}
#topic { 
   background-color: #000;
   color: #FFF;
   float: left;
}
#topic_inside {
   background-color: #FFF;
   color: #000;
   margin-top:4px;
   margin-bottom:4px;
   margin-left:4px;
   margin-right:4px;
}

#menu {
   margin: 0px 0px 0px 0px;
   width: 100%;
   min-width: 600px;
   display: block;
   position: relative;
   border: none;
/*
   border-width: thin;
   border: thin dashed #000;
*/
}
#menu_left {
   float:left;
/*   background-image: url("/images/green/top_in.gif"); */
   background-position: right;
   background-repeat: no-repeat;
   background-color: #FFF;
   color: #000;
   width: 100px; 
/*   height: 25px; */
   left: 0px;
   margin-left: 0px;
   margin-right: 10px;
   margin-top: 0px;
   margin-bottom: 0px;
   position: relative;
   display: block;
   z-index: 1;
/*
   border: thin dashed #000;
*/
   border: thin dashed;
}
#menu_right {
   float:right;
/*   background-image: url("/images/green/top_out.gif"); */
   background-position: left;
   background-repeat: no-repeat;
   background-color: #FFF;
   color: #000;
/*
   width: 45px;
   height: 25px;
*/
   right: 0px;
   margin-left: 0px;
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   position: relative;
   display: block;
   z-index: 1;
/*
   border: thin dashed #000;
*/
}
#menu_center {
   background-color: #FFF;
   color: #000;
   background-repeat: repeat-x;
/*
   width: 100%;
   min-width: 600px;
   min-height: 20px;
   max-height: 20px;
   height: 20px;
*/
   margin-left: 100px;
   margin-right: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
   text-align: center;
   position: relative;
   display: block;
   z-index: 0;
/*
   border: thin dashed #000;
*/
}
#menu_center a{
   font-size: 14px;
   color: #000;
   margin-left: 20px;
   margin-right: 20px;
   bottom:5px;
   text-decoration: none;
}

#footer {
   margin: 0px 0px 10px 0px;
   width: 100%;
   min-width: 600px;
   display: block;
   position: relative;
/*   left:0;*/
   border: none;
/*
   border-width: thin;
   border: thin dashed #000;
*/
}
#footer_left {
/*   background-image: url("/images/green/bottom_in.gif"); */
   background-position: right;
   background-repeat: no-repeat;
   background-color: #FFF;
   color: #000;
/*
   width: 45px;
   height: 25px;
*/
/*   left: 0px;*/
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
   position: relative;
   float:left;
   display: block;
   z-index: 1;
/*
   border: thin dashed #000;
*/
}
#footer_center {
   background-color: #FFF;
   background-repeat: repeat-x;
   background-position: center top;
   color: #000;
/*
   height: 20px;
*/
   width: 100%;
   min-width: 400px;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
   position: relative;
   z-index: 0;
   top: 5px;
   text-align: center;
   display: block;
/*
   border: thin dashed #000;
*/
}
#footer_right {
   float: right;
/*   background-image: url("/images/green/bottom_out.gif"); */
   background-position: left;
   background-repeat: no-repeat;
   background-color: #FFF;
   color: #000;
/*
   width: 45px;
   height: 25px;
*/
   right: 0px;
   margin-left: 0px;
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   position: relative;
   z-index: 1;
   display: block;
/*
   border: thin dashed #000;
*/
}


#main {
   position: relative;
   left:0;
   margin: 5px 5px 5px 5px;
   top: 5px;
   bottom: 5px;
   width: 100%;
   height: 100%;
   min-width: 600px;
   min-height: 300px;
   display: block;
   border: none;
/*
   border-width: thin;
   border: thin dashed #000;
*/
}

#main_left {
/*
   background-image: url("/images/green/left.gif");
   background-position: right;
   background-repeat: repeat-y;
*/
/*   background: url("/images/green/left.gif") repeat-y 100% 0; */
   width: 40px;
   height: 100%;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
/*   position: absolute; */
   position: relative;
   left: 0px;
   top: 0px;
   border: none;
/*
   border-width: thin;
   border: thin dashed #000;
*/
   display: block;
   z-index: 1;
}

#main_right {
/*   background-image: url("/images/green/right.gif"); */
   background-repeat: repeat-y;
   background-position: left;
   width: 106px;
   height: 100%;
   right: 0px;
   top: 0px;
/*   position: absolute; */
   position: relative;
   display:block;
/*
   border: thin dashed #000;
*/
}
#main_spacer {
   margin-top: 20px;
}
#main_center {
   background-color: #fff;
   padding: 20px;
   margin-left: 50px;
   margin-right: 106px;
   margin-top: 0px;
   text-align: left;
   position: relative;
   display: block;
/*
   border: thin dashed #000;
*/
}
.xlarge
{
   font-size: 28px;
}

.large
{
   font-size: 24px;
}

.bold
{
   font-weight: bold;
}

.italic
{
   font-style: italic;
}

#copyright
{
  color: #000;
  text-align: center;
  font-size: 12px;
  background-color: #FFF;
}
#copyright a {
   font-weight: normal;
   color: #000;
   background-color: #FFF;
}
#copyright a.link {
   color: #000;
}
#copyright a:visited {
   color: #000;
   text-decoration: line-through;
}
#copyright a:hover {
   color: #111;
   text-decoration: underline;
}
#copyright a:active {
}


